<footer class="container">
    <ul class="footer--links">
        <li class="twitter"><a target="_blank" rel="noreferrer" href="https://twitter.com/brownio_"><i data-feather="twitter"></i></a></li>
        <li class="github"><a target="_blank" rel="noreferrer" href="https://github.com/djigoio"><i data-feather="github"></i></a></li>
        <li class="linkedin"><a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/antonio-djigo-598797138/"><i data-feather="linkedin"></i></a></li>
    </ul>
</footer>