<head>
<!-- Primary Meta Tags -->
<title>Antonio Djigo 🧑🏾‍💻 - Just another Web Developer</title>
<meta name="title" content="Antonio Djigo 🧑🏾‍💻 - Just another Web Developer">
<meta name="description" content="I'm a developer formed in the Canary Island, I do both Back-end and Front-end stuff, but my main tools al Ruby on Rails, JS, CSS, and I'm learning Go.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://djigo.herokuapp.com/">
<meta property="og:title" content="Antonio Djigo 🧑🏾‍💻 - Just another Web Developer">
<meta property="og:description" content="I'm a developer formed in the Canary Island, I do both Back-end and Front-end stuff, but my main tools al Ruby on Rails, JS, CSS, and I'm learning Go.">
<meta property="og:image" content="https://i.imgur.com/ZrXnhKG.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://djigo.herokuapp.com/">
<meta property="twitter:title" content="Antonio Djigo 🧑🏾‍💻 - Just another Web Developer">
<meta property="twitter:description" content="I'm a developer formed in the Canary Island, I do both Back-end and Front-end stuff, but my main tools al Ruby on Rails, JS, CSS, and I'm learning Go.">
<meta property="twitter:image" content="https://i.imgur.com/ZrXnhKG.jpg">
</head>