<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="title" content="DjiGO - RoR Web Developer">
    <meta name="description"
        content="I'm a developer formed in the Canary Island, I do both Back-end and Front-end stuff, but my main tools al Ruby on Rails, JS, CSS, and I'm learning Go.">
    <meta name="keywords"
        content="developer, ror, go javascript, remote, digital, nomad, minimalistic, ruby, rails, articles, dev">
    <meta property="og:image" content="https://i.imgur.com/ZrXnhKG.jpg">
   
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">

    <link rel="stylesheet" href="assets/css/djigo.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://unpkg.com/feather-icons"></script>
    <title>Antonio Djigo 🧑🏾‍💻 - Web Developer</title>
</head>