<div class="languages">
  <details class="go">
    <summary> I know <b>Go</b></summary>
    <p> Something I've done with language</p>
  </details>
  <details class="rails">
    <summary> I know <b>Rails</b></summary>
    <p> Something I've done with language</p>
  </details>
  <details class="wordpress">
    <summary> I know <b>WordPress</b></summary>
    <p> Something I've done with language</p>
    <p> Something I've done with language</p>
  </details>
  <details class="vue">
    <summary> I know <b>Vue</b></summary>
    <p> Something I've done with language</p>
    <p> Something I've done with language</p>
  </details>
</div>