<div class="languages">
  <details class="rails">
    <summary> I know <b>Rails</b></summary>
    <p>Mantained a 4 years old project 🏗</p>
    <p>Applied design patterns for both new and old functionality ♻️</p>
    <p>Unit testing and TDD ✅</p>
    <p>Agile and SCRUM methodologies 📝</p>
    <p>Jenkins and Docker manipulation 🐳</p>
    <p>Performance profiling ⚡️</p>
  </details>
  <details class="cssjs">
    <summary> I know <b>CSS/JS</b></summary>
    <p>More than 3 years of experience doing JS and CSS 👌</p>
    <p>CSS Grid and Flex layout are in my toolset 🔧</p>
    <p>jQuery, also know the basics of Vue JS and React ➕</p>
    <p class="animations">I can create animations! 🤡</p>
    <p>Been years using SCSS, can't wait to start using PostCSS 🤖</p>
    <p>I really enjoy it! Can't wait to get more into it. 👽</p>
  </details>
  <details class="wordpress">
    <summary> I know <b>WordPress</b></summary>
    <p>Developed new and innovating themes from scratch ⚗</p>
    <p>Smoke tests and landing pages 🌐</p>
    <p>Big WordPress projects with more than 6 months of development 🎉</p>
    <p>Trained a lot CSS and JavaScript skills with jQuery and SCSS 💄</p>
    <p>Managed SEO with Google Analytics and similiar 📈</p>
    <p>Server manteinance and deployment with Siteground 🚀</p>
  </details>
  <details class="go">
    <summary> I'm learning <b>Go</b></summary>
    <p>This website is served on a Go HTTP server!</p>
    <p>Constantly learning new stuff about this language, really like it 💙</p>
  </details>
  <details class="articles">
    <summary> I write <b>Articles</b></summary>
    <a href="https://dev.to/brownio/i-just-want-to-be-a-ruby-on-rails-developer-how-to-get-started-30np">
      <p>TOP 🔥 - How to get started with Ruby on Rails </p>
    </a>
    <a href="https://dev.to/brownio/a-pattern-a-day-keeps-the-reviewers-away-day-0-what-are-the-design-patterns-4oh8">
      <p>NEW ✨ - Daily Design Patterns </p>
    </a>
    <a
      href="https://dev.to/brownio/beautiful-lightning-fast-wordpress-themes-with-wp-rig-make-your-theme-meet-the-latest-web-standards-3bdd">
      <p>Beautiful, lightning-fast Wordpress themes with WP Rig </p>
    </a>
    <a href="https://dev.to/brownio/progressive-web-apps-the-why-the-how-and-the-why-not-3092">
      <p>Progressive Web Apps - The why, the how, and the why not </p>
    </a>
  </details>
</div>